body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #f0f0f0;
}

#homeButton {
  display: inline-block;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

#homeButton:hover {
  background-color: #218838;
}

.bg {
  background-image: url('images/dndBattle.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
}

.content2 {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 80vmin;
  height: 80vmin;
}

.cell {
  background-color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.cell.X {
  background-color: rgb(2, 58, 2);
}

.cell.O {
  background-color: rgb(203, 0, 253);
}

#gameStatusMessage {
  text-align: center;
  font-size: 24px;
  margin: 20px;
}

#playAgainButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  margin-top: 15px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

a#playAgainButton {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s;
}

a#playAgainButton:hover {
  background-color: #0056b3;
}